.App{
    text-align: center;
}

div {
    box-sizing: border-box;
}
.list {
    padding: 20px;
    border-bottom: 1px solid gray;
    text-align: left;
}

.black-nav{
    display: flex;
    background: black;
    width: 100%;
    color: white;
    padding: 20px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}